@font-face {
	font-family: 'Apple II';
	src: url('/fonts/Apple-II.woff2');
}

@font-face {
	font-family: 'Heiti';
	src: url('/fonts/XinYiGuanHeiTi-subset.woff2');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	@apply scroll-smooth bg-black font-iceland text-white [scrollbar-width:none] sm:tall:snap-y sm:tall:snap-mandatory [&::-webkit-scrollbar]:hidden;
}

body {
	@apply overscroll-none;
}
